/* Begin style page */

h1
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 300;
    font-style: normal;
	font-size: 34px;
    text-align: center;
	color: #7ba686; 
}

h2
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 34px;
	height: 50px;
	line-height: 42px; 		/* interligne */
    text-align: center;
	color: #125b30; 

}

h3
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 400;
    font-style: italic;
	font-size: 16px;
	height: 37px;
	line-height: 22px;
	color: #125b30; 
}

h4
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 20px;
	text-transform: uppercase;
	text-align: left;
	line-height: 27px;
	color: #173831; 
}

h5
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: bold;
    font-style: italic;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
	color: #125b30; 
}

body
{
	background-color: #F6F9F7;
	width: 100%;
	height: 100%;
	max-width: 960px;
	margin: auto;
	float: middle;
}

hr
{
	height: 1px;
	color: #aeccb6;
}

a:link
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 20px;
	text-align: left;
	height: 37px;
	line-height: 27px;
	color: #125b30;
}

a:hover
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: bold;
    font-style: italic;
	font-size: 20px;
	text-align: left;
	height: 37px;
	line-height: 27px;
	color: #72ac31;
}

a:active
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: bold;
    font-style: bold italic;
	font-size: 23px;
	text-align: left;
	color: #173831;
}

a:focus
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: bold;
    font-style: italic;
	font-size: 20px;
	text-align: left;
	color: #173831;
}

a:visited
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 20px;
	text-align: left;
	color: #7ba686;
}

hr
{	
	line-height: 3px;
}

p
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 15px;
	height: 37px;
	line-height: 27px;
	margin-bottom: 50px;
	color: #125b30;
}

nav
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 20px;
	text-transform: uppercase;
	color: #125b30;
}

nav:link
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 20px;
	text-transform: uppercase;
	color: #7ba686;
}

nav:hover
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 17px;
	text-transform: uppercase;
	color: #125b30;
}


.nav ul {
    display : inline-block;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    padding : 5px 10px 5px 10px;
    display: inline-block;
    color : #125b30;
}

li
{
   	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 18px;
	line-height: 27px;
	color: #125b30;
}

table 
{
    border: 1px solid;
    width: 100%;
    color: #125b30;
}

thead
{
    font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: bold italic;
    text-align: center;
    height: 25px;
    color: #125b30;
}

th
{
    font-family: 'Open Sans', Arial, sans-serif;
	font-weight: bold;
    font-style: italic;
    font-size: 16px;
    height: 20px;
    color: #125b30;
}

td
{
    font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 15px;
    text-align: left;
    line-height: 16px;
	color: #125b30;
}

.header
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 300;
    font-style: normal;
	font-size: 30px;
	color: #7ba686; 
}

.main_title
{
    font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 300;
    font-style: normal;
	font-size: 30px;
    text-align: center;
    height: 100px;
	color: #7ba686; 
}

.footer
{
    font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 50;
    font-style: italic;
	font-size: 13px;
    text-align: right;
   	line-height: 40px;
	color: #7ba686; 
}

#logo
{
    height: 100px;
    position: absolute;
}

#col_nav
{
    height: 130px;
	color: #125b30;
}

#menus
{
	height: 30px;
    color: #125b30;
}

#menus ul
{
	margin: 0px;
	padding: 0px;
    color: #125b30;
}

#menus ul li
{
	list-style: none;
	display: inline-block;
	float: left;
	position: relative;
	line-height: 30px;
	height: 30px;
	width: 120px;
	text-align: center;
    color: #125b30;
}

#menus ul li ul
{
	display: none;
	color: #125b30;
}

#menus ul li a
{
    font-size: 20px;
	text-decoration: none;
	padding: 0px 5px;
	line-height: 30px;
    color: #125b30;
}

#menus a:hover
{
    font-family: 'Open Sans', Arial, sans-serif;
	font-weight: bold;
    font-style: italic;
	font-size: 20px;
    color: #125b30;
}

#menus ul li:hover ul
{
	position: absolute;
	left: 0px;
	top: 30px;
	display: block;
    color: #125b30;
}

#menus ul li ul li
{
	width: 130px;
	text-align: left;
	padding-left: 10px;
	height: 30px;
	overflow: hidden;
    color: #125b30;
}

#table_liste table
{
    border: 1px solid;
    width: 100%;
    color: #125b30;
}

#table_liste thead
{
    font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: bold italic;
    text-align: center;
    height: 25px;
    color: #125b30;
}

#table_liste th
{
    font-family: 'Open Sans', Arial, sans-serif;
	font-weight: bold;
    font-style: italic;
    font-size: 16px;
    border-bottom: 1px solid;
    height: 20px;
    color: #125b30;
}

#table_liste td
{
    font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 15px;
    text-align: left;
    line-height: 16px;
	color: #125b30;
}

/* End style page */
