/* Begin style page */

header
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 300;
    font-style: normal;
	font-size: 40px;
	color: #7ba686; 
}

h1
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 300;
    font-style: normal;
	font-size: 34px;
    text-align: center;
	color: #7ba686; 
}

h2
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 34px;
	height: 50px;
	line-height: 42px; 		/* interligne */
    text-align: center;
	color: #125b30; 

}

h3
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 400;
    font-style: italic;
	font-size: 16px;
	height: 37px;
	line-height: 22px;
	color: #125b30; 
}

h4
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 20px;
	text-transform: uppercase;
	text-align: left;
	line-height: 27px;
	color: #173831; 
}

body
{
	background-color: #F6F9F7;
	width: 100%;
	height: 100%;
	max-width: 960px;
	margin: auto;
	float: middle;
}

hr
{
	height: 1px;
	color: #aeccb6;
}

a:link
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 28px;
	text-align: left;
	height: 37px;
	line-height: 27px;
	color: #125b30;
}

a:hover
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: bold italic;
	font-size: 28px;
	text-align: left;
	height: 37px;
	line-height: 27px;
	color: #72ac31;
}

a:active
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: bold italic;
	font-size: 40px;
	text-align: left;
	color: #173831;
}

a:focus
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: bold italic;
	font-size: 30px;
	text-align: left;
	color: #173831;
}

a:visited
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 28px;
	text-align: left;
	color: #7ba686;
}

hr
{	
	line-height: 3px;
}

p
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 18px;
	height: 37px;
	line-height: 27px;
	margin-bottom: 50px;
	color: #125b30;
}

nav
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 27px;
	text-transform: uppercase;
	color: #125b30;
}

nav:link
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 27px;
	text-transform: uppercase;
	color: #7ba686;
}

nav:hover
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 17px;
	text-transform: uppercase;
	color: #125b30;
}

li
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 18px;
	line-height: 27px;
	color: #125b30;
}

table 
{
    border: 1px solid;;
    width: 100%;
    color:  #125b30;
}

th
{
    height: 50px;
}

td
{
    text-align: right;       
}

.main_title
{
    font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 300;
    font-style: normal;
	font-size: 40px;
    text-align: center;
    height: 100px;
	color: #7ba686; 
}

.footer
{
    font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 50;
    font-style: italic;
	font-size: 13px;
    text-align: right;
    height: 70px;
	color: #7ba686; 
}

#col_nav
{
    font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 28px;
    text-align: left;
    height: 120px;
    padding-right: 80px; 
	color: #125b30;
}

/* End style page */
