{% load i18n %}
{% load url from future %}

<!DOCTYPE html>
<html lang="fr">
<head>
     {% block head %}
        
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600' >
		<link rel="stylesheet" type='text/css' href="{{ STATIC_URL }}css/style.css" />
		
        <!-- <script charset="utf-8" src="http://code.jquery.com/jquery-1.6.4.min.js"></script> 
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.4.min.js"></script> -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script>
			$(document).ready(function() {
                 $("select#id_cate_livre").on('change', function() {
                    
                     var url = "/views.show_all_subcategories/?cate_id=" + $('select#id_cate_livre').val();
                     var cate = $(this).val();

                     $.getJSON(url, function(subcategories) {
                         var options = '<option value="Z">Select a subcategory</option>';

                         for (var i = 0; i < subcategories.length; i++) {
                            options += '<option value="' + subcategories[i].pk + '">' + subcategories[i].fields['nom_sous_cate'] + '</option>';
                         }
                         $("select#id_subcate_livre").html(options);
                         $("select#id_subcate_livre option:first").attr('selected', 'selected');
                         $("select#id_subcate_livre").attr('disabled', false);
                     });
                 });

             });
		</script>

		<title>Biblio: {% block title %}{{ title }}{% endblock title%}</title>
		{% if form %}   
			{{ form.media }}
			{{ form.js_init }}
		{% endif %}
    {% endblock head %}
	
    {% block extra_head %}{% endblock %}
</head>

<body class="{% block bodyclass %}{% endblock bodyclass %}">
	<div class="{% block header%}{% endblock header %}">
		<div id="logo"><img src="{{ STATIC_URL }}images/logo_biblio.png" width="80" alt="logo"/></div>
		<div class="main_title">Bibliothèque BCIS</div>
		<div class="clear"></div>
	</div>
 
	<div class="content">
		<div id="col_nav">

			{% block top_content %}
			     <div class="block">
					 <div class="block_content">
			         
						 <div id="menus" class="{% block menu %}{% endblock menu %}">
							 <ul>
								 <li><a class="{% block nav-livres %}{% endblock %}" href="{% url 'livre_list' %}">Livres</a></li>
								 <li><a class="{% block nav-personnes %}{% endblock %}" href="{% url 'utilisateur_list' %}">Utilisateurs</a></li>
						
								 <li>
				  					<a href="">Prêts</a>  			
									 	<ul id="sous_menus">
					                    	 <li><a class="{% block nav-prets %}{% endblock %}" href="{% url 'prets_list' %}">Prêt</a></li>
											<li><a class="{% block nav-rappels %}{% endblock %}" href="{% url 'rappels_list' %}">Rappels</a></li>
										</ul>
								 </li>
							</ul>
						</div>
			{% endblock top_content %}
		</div>
		{% block content %}{% endblock content %}
	</div>

    {% block footer %}
		<div class="footer">
			copyright © 2014 bibliotheque bcis.
		</div>
    {% endblock footer %}
</body>
</html>
