{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
    <div id="content">
        {% if messages %}
            <div id="message" class="messages">
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p><br>
                {% endfor %}
            </div>
        {% endif %}

        <table id="table_liste"> 
            <thead>
                <h5>Liste des fournisseur</h5>
                <tr>
                     <th>Nom</th>
                    <th>Addresse</th>
                    <th>NPA</th>
                    <th>Localité</th>
                    <th>Téléphone</th>
                    <th></th>
                    <th></th>
                    <th><a href="{% url 'fournisseur_add' %}"><img src="{{ STATIC_URL }}images/newpage.png" width="32" alt="add"/></a></th>
                </tr>
            </thead>
            <tbody>
                {% for fournisseur in object_list %} 
                    <tr>
                        <td>{{ fournisseur.nom_fourn }}</td>
                        <td>{{ fournisseur.addr_fourn }}</td>
                        <td>{{ fournisseur.npa_fourn }}</td>
                        <td>{{ fournisseur.city_fourn }}</td>
                        <td>{{ fournisseur.phone_fourn }}</td>

                        <td><a href="{% url 'fournisseur_update' fournisseur.id %}"><img src="{{ STATIC_URL }}images/pencil.png" width="20" alt="update"/></a></td>
                        <td><form method="post" action="{% url 'fournisseur_delete' fournisseur.id %}" 
									onsubmit="return confirm('{{ _("Voulez-vous effacer ce fournisseur?")|escapejs }}');" 
									style="display: inline">
                             	{% csrf_token %}
                             	<input type="image" src="{{ STATIC_URL}}images/recyclebin.png" alt="supprimer" title="{% trans "Delete" %}" width="20" />
							</form>
						</td>
					</tr>

                {% empty %}
                    <p>Fournisseur list no available.</p>
       
                {% endfor %}
				
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
{% endblock %}


