{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
    <div id="content">
    {% if livre_list %}
        <table class="tabular"> 
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Code</th>
                    <th>Type</th>
                    <th>ISBN</th>
                    <th>Edition</th>
                    <th>Disponible</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><img src="{{ STATIC_URL }}images/newpage.png" width="32" alt="nouveau"/></th>
                </tr>
            </thead>
            <tbody>
                {% for livre in livre_list %}
                <tr>
                    <td>{{ livre.titre_livre }}</td>
                    <td>{{ livre.code_livre }}</td>
                    <td>{{ livre.type_livre }}</td>
                    <td>{{ livre.isbn_livre }}</td>
                    <td>{{ livre.edit_livre }}</td>
<!--
                    {% if livre.pret.date_back_pret__isnull %}
                        <td><img src="{{ STATIC_URL }}images/checkmark.png" width="20" alt="disponible"/></td>
                    {% else %}
                        <td><img src="{{ STATIC_URL }}images/error.png" width="20" alt="non disponible"/></td>
                    {% endif %}

                    <td><a href="{{ livre.id }}/"><img src="{{ STATIC_URL }}images/pencil.png" width="20" alt="modifier"/></a></td>
                    <td><img src="{{ STATIC_URL }}images/recyclebin.png" width="20" alt="effacer"/></td>
-->
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>

    {% else %}
        <p>Livre list no available.</p>
    {% endif %}
{% endblock %}

