{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block extra_head %}

    <script charset="utf-8" type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script>
		$(document).ready(function() {
             $("select#id_cate_livre").on('change', function() {
               
                 var url = "{% url 'liste_subcategories' %}" +"?cate_id=" + $('select#id_cate_livre').val();
                 var cate = $(this).val();
                
                 $.getJSON(url, function(liste_subcate) {
                     var options = '<option value="Z">Select a subcategory</option>';

                     for (var i = 0; i < liste_subcate.length; i++) {
                        options += '<option value=' + liste_subcate[i].pk + '>' + liste_subcate[i].nom_sous_cate + '</option>';
                     }
                     $("select#id_subcate_livre").html(options);
                     $("select#id_subcate_livre option:first").attr('selected', 'selected');
                     $("select#id_subcate_livre").attr('disabled', false);
                 });
             });

         });

	</script>

{% endblock %}

{% block content %}
    <div id="content">
       {% if messages %}
            <div id="message_line" class="messages">
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p><br>
                {% endfor %}
            </div>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}

            <table>
                <thead>
					<h5>Formulaire d'édition de Livres</h5>
				</thead>
                <tr>
                    <td>{{ form.titre_livre.label_tag }}</td><td>{{ form.titre_livre }}</td><td> </td>
                    <td>{{ form.nom_livre.label_tag }}</td><td>{{ form.nom_livre }}</td>
                </tr>

                <tr>
                    <td>{{ form.form_livre.label_tag }}</td><td>{{ form.form_livre }}
                    <a class="{% block nav-format %}{% endblock %}" href="{% url 'type_format_add' %}">
                    <img src="{{ STATIC_URL }}images/add.png" width="20" alt="new_format"/></a></td>
                    <td> </td>
                    <td>{{ form.code_livre.label_tag }}</td><td>{{ form.code_livre }}</td>
                </tr>

                <tr>
                    <td>{{ form.cate_livre.label_tag }}</td>
					<td id="id_cate_livre" name="cate_livre">{{ form.cate_livre }}
                    <a class="{% block nav-categorie %}{% endblock %}" href="{% url 'type_categorie_add' %}">
                    <img src="{{ STATIC_URL }}images/add.png" width="20" alt="new_cate"/></a></td>
                    <td></td>

                    <td>{{ form.subcate_livre.label_tag }}</td>
					<td><select id="id_subcate_livre" name="subcate_livre" disabled="true">
						    <option>Select a sub category</option>
					    </select><img src="{{ STATIC_URL }}images/add.png" width="20" alt="new_subcat"/>
                    </td>
                </tr>

                <tr>
                    <td>{{ form.isbn_livre.label_tag }}</td><td>{{ form.isbn_livre }}</td><td> </td>
                    <td>{{ form.ean13_livre.label_tag }}</td><td>{{ form.ean13_livre }}</td>
                </tr>

                <tr>                
                    <td>{{ form.annee_livre.label_tag }}</td><td>{{ form.annee_livre }}</td>
                    <td> </td>

                    <td>{{ form.lang_livre.label_tag }}</td><td>{{ form.lang_livre }}
                    <a class="{% block nav-langue %}{% endblock %}" href="{% url 'type_langue_add' %}">
					<img src="{{ STATIC_URL }}images/add.png" width="20" alt="new_edit"/></a></td>   
                </tr>
                    
                <tr>
                    <td>{{ form.edit_livre.label_tag }}</td><td>{{ form.edit_livre }}</td><td> </td>
                    <td>{{ form.editeur.label_tag }}</td><td>{{form.editeur }}
                    <a class="{% block nav-editeurs %}{% endblock %}" href="{% url 'editeur_add' %}">
					<img src="{{ STATIC_URL }}images/add.png" width="20" alt="new_edit"/></a></td>
                </tr>

                <tr>
                    <td>{{ form.proprietaire.label_tag }}</td><td>{{ form.proprietaire }}
                    <a class="{% block nav-proprietaire %}{% endblock %}" href="{% url 'proprietaire_add' %}">
                    <img src="{{ STATIC_URL }}images/add.png" width="20" alt="new_prop"/></a></td>
                    
                    <td> </td>
                    <td>{{ form.fournisseur.label_tag }}</td><td>{{form.fournisseur }}
                    <a class="{% block nav-fournisseurs %}{% endblock %}" href="{% url 'fournisseur_add' %}">
					<img src="{{ STATIC_URL }}images/add.png" width="20" alt="new_fourn"/></a></td>
                </tr>

                <tr>
                    <td>{{ form.date_acqui.label_tag }}</td><td>{{ form.date_acqui }}</td>

                    <td> </td>  
                    <td>{{ form.prix_livre.label_tag }}{{ form.monn_livre }}</td>
                    <td>{{ form.prix_livre }}</td>
                </tr>
               
                <tr>
                    <td>{{ form.class_livre.label_tag }}</td><td>{{ form.class_livre }}</td><td> </td>
                    <td>{{ form.disp_livre.label_tag }}</td>
                        {% if form.disp_livre %}
                            <td><img src="{{ STATIC_URL }}images/checkmark.png" width="20" alt="disponible"/></td>
                        {% else %}
                            <td><img src="{{ STATIC_URL }}images/error.png" width="20" alt="non disponible"/></td>
                        {% endif %}
                </tr>

                <tr>
                    <td>{{ form.auteurs.label_tag }}</td>
                        {% for auteur in form.auteurs %}
                             <td>{{ auteur }}
                        {% endfor %}
                    <a class="{% block nav-auteur %}{% endblock %}" href="{% url 'auteur_add' %}">
					<img src="{{ STATIC_URL }}images/add.png" width="20" alt="new_aute"/></a></td>
                </tr>
            </table>

            <a href="{% url 'livre_list' %}"><img src="{{ STATIC_URL }}images/back.png" width="20" alt="annuler"/></a>
            <input type="image" src="{{ STATIC_URL }}images/floppy.png" width="20" alt="enregistrer" value="submit" />
        </form>
    </div>
{% endblock %}
