{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
    <div id="content">
    {% if personne_list %}
        <table class="tabular"> 
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>NPA</th>
                    <th>Localité</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><a href="{% url 'personne_edition' %}"><img src="{{ STATIC_URL }}images/newpage.png" width="32" alt="nouveau"/></a></th>
                </tr>
            </thead>
            <tbody>
                {% for personne in personne_list %}
                    <tr>
                        <td>{{ personne.first_name }}</td>
                        <td>{{ personne.last_name }}</td>
                        <td>{{ personne.address }}</td>
                        <td>{{ personne.postcode }}</td>
                        <td>{{ personne.city }}</td>
                        <td><a href="{% url 'personne_detail' personne.id %}"><img src="{{ STATIC_URL }}images/pencil.png" width="20" alt="modifier"/></a></td>
                        <td><img src="{{ STATIC_URL }}images/recyclebin.png" width="20" alt="effacer"/></td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
        </table>

    {% else %}
        <p>Personne list no available.</p>
    {% endif %}
    </div>
{% endblock %}

