{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
    <div id="content">

		{% if messages %}
            <div id="message" class="messages">
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p><br>
                {% endfor %}
            </div>
        {% endif %}


        <table id="table_liste"> 
            <thead>
                <h5>Liste des catégories</h5>
                <tr>
                    <th>Code</th>
                    <th>Catégorie</th>
                    <th></th>
                    <th></th>
                    <th><a href="{% url 'type_categorie_add' %}"><img src="{{ STATIC_URL }}images/newpage.png" width="32" alt="add"/></a></th>
                </tr>
            </thead>
            <tbody>
                {% for categorie in object_list %}
                    <tr>
                        <td>{{ categorie.code_cate }}</td>
                        <td>{{ categorie.nom_cate }}</td>

                        <td><a href="{% url 'type_categorie_update' categorie.id %}"><img src="{{ STATIC_URL }}images/edit.png" width="20" alt="update"/></a></td>
                        <td><form method="post" action="{% url 'type_categorie_delete' categorie.id %}" 
									onsubmit="return confirm('{{ _("Voulez-vous effacer cette catégorie?")|escapejs }}');" 
									style="display: inline">
                             	{% csrf_token %}
                             	<input type="image" src="{{ STATIC_URL}}images/recyclebin.png" alt="supprimer" title="{% trans "Delete" %}" width="20" />
							</form>

                    </tr>

                {% empty %}
                    <p>Catégories list no available.</p>
       
                {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
{% endblock %}

