{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
    <div id="content">

		{% if messages %}
            <div id="message" class="messages">
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p><br>
                {% endfor %}
            </div>
        {% endif %}


        <table id="table_liste"> 
            <thead>
                <h5>Liste des types de langues</h5>
                <tr>
                    <th>Code</th>
                    <th>Type Monnaie</th>
                    <th></th>
                    <th></th>
                    <th><a href="{% url 'type_monnaie_add' %}"><img src="{{ STATIC_URL }}images/newpage.png" width="32" alt="add"/></a></th>
                </tr>
            </thead>
            <tbody>
                {% for monnaie in object_list %}
                    <tr>
                        <td>{{ monnaie.code_mone }}</td>
                        <td>{{ monnaie.nom_mone }}</td>

                        <td><a href="{% url 'type_monnaie_update' monnaie.id %}"><img src="{{ STATIC_URL }}images/pencil.png" width="20" alt="update"/></a></td>
                        <td><form method="post" action="{% url 'type_monnaie_delete' monnaie.id %}" 
									onsubmit="return confirm('{{ _("Voulez-vous effacer ce type de monnaie?")|escapejs }}');" 
									style="display: inline">
                             	{% csrf_token %}
                             	<input type="image" src="{{ STATIC_URL}}images/recyclebin.png" alt="supprimer" title="{% trans "Delete" %}" width="20" />
							</form>

                    </tr>

                {% empty %}
                    <p>Monnaie list no available.</p>
       
                {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
{% endblock %}

