{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
    <div id="content">
        {% if messages %}
            <div id="message" class="messages">
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p><br>
                {% endfor %}
            </div>
        {% endif %}

        <table id="table_liste"> 
            <thead>
                <h5>Liste des utilisateur</h5>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Addresse</th>
                    <th>NPA</th>
                    <th>Localité</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                    <th><a href="{% url 'utilisateur_add' %}"><img src="{{ STATIC_URL }}images/newpage.png" width="32" alt="add"/></a></th>
                </tr>
            </thead>
            <tbody>
                {% for utilisateur in object_list %} 
                    <tr>
                        <td>{{ utilisateur.first_name }}</td>
                        <td>{{ utilisateur.last_name }}</td>
                        <td>{{ utilisateur.address }}</td>
                        <td>{{ utilisateur.postcode }}</td>
                        <td>{{ utilisateur.city }}</td>
                        <td>{{ utilisateur.phone_prive }}</td>
                        <td>{{ utilisateur.email }}</td>

                        <td><a href="{% url 'utilisateur_update' utilisateur.id %}"><img src="{{ STATIC_URL }}images/pencil.png" width="20" alt="update"/></a></td>
                        <td><form method="post" action="{% url 'utilisateur_delete' utilisateur.id %}" 
									onsubmit="return confirm('{{ _("Voulez-vous effacer cet utilisateur?")|escapejs }}');" 
									style="display: inline">
                             	{% csrf_token %}
                             	<input type="image" src="{{ STATIC_URL}}images/recyclebin.png" alt="supprimer" title="{% trans "Delete" %}" width="20" />
							</form>
						</td>
					</tr>

                {% empty %}
                    <p>Utilisateur list no available.</p>
       
                {% endfor %}
				
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
{% endblock %}


