{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans "Utilisateur détail" %}{% endblock %}

{% block content %}
    <div id="content">
        <table class="tabular"> 
                <thead>Formulaire d'édition</thead>
                <tbody>
                    <form action="url" method="get">
                        <tr>
                            <td>Nom</td><td><input type="text" name="utilisateur.last_name"></td>
                            <td>Prénom</td><td><input type="text" name="utilisateur.first_name"></td>
                        </tr>
                        <tr>
                            <td>Email</td><td><input type="text" name="utilisateur.email"></td>
                            <td>Adresse</td><td><input type="text" name="utilisateur.address"></td>
                        </tr>
                        <tr>
                            <td>NPA</td><td><input type="text" name="utilisateur.postcode"></td>
                            <td>Localité</td><td><input type="text" name="utilisateur.city"></td>
                        </tr>
                        <tr>                
                            <td>Téléphone mobile</td><td><input type="text" name="utilisateur.phone_mobil"></td>
                            <td>Téléphone privé</td><td><input type="text" name="utilisateur.phone_prive"></td>
                        </tr>
                        <tr>
					        <td>Téléphone professionnel</td><td><input type="text" name="utilisateur.phone_prof"></td>
					        <td>Fax</td><td><input type="text" name="utilisateur.phone_fax"></td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td><input type="submit"><img src="{{ STATIC_URL }}images/floppy.png" width="20" alt="enregistrer"/></a></td></td>
                            <td><input type="reset"><img src="{{ STATIC_URL }}images/annuler.png" width="20" alt="annuler"/></a></td></td>
                        </tr>
                    </form>    
                </tbody>
                <tfoot>
                </tfoot>
            </table>
    </div>
{% endblock %}

